
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 51, 51, 51;
    --background-start-rgb: 240,240, 240;
    --background-end-rgb: 245, 245, 245;
  }
}

@font-face {
  font-family: 'Aristotelica Pro';
  src: url('/fonts/Aristotelica Pro.otf') format('truetype');
  /* Add additional font formats here (e.g., woff, woff2) for better browser support. */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body {
  @apply leading-loose md:leading-relaxed;
}
h1, h2, h3 {
  font-family: 'Aristotelica Pro', sans-serif;
}

h3{
  @apply text-xl
}

h4{
  @apply text-lg
}


.main_btn {
  @apply rounded-full bg-blue-500 py-1.5 px-5 mt-8 mb-4 text-white transition-all hover:bg-gray-400 hover:text-gray-800 text-center text-sm flex items-center justify-center;
}
.main_div{
  @apply flex min-h-screen flex-col items-center justify-between md:p-24 md:pt-32 pt-28;
}
.second_div{
  @apply z-10 w-full max-w-5xl items-center justify-between text-sm lg:flex;
}
.sm_column{
  @apply flex flex-col md:flex-row;
}


.underline-from-left {
      position: relative;
      display: inline-block;
    }
    .underline-from-left::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: blue;
      transition: width 0.3s ease;
    }
    .underline-from-left:hover::before {
      width: 100%;
    }

.progress-bar-container {
  width: 100%;
  background-color: #e5e7eb;
  height: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.progress-bar {
  height: 100%;
  background-color: #2563eb;
  border-radius: 5px;
}


